.carousel-indicators__near-walls {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

}

.carouselExampleIndicators__name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 13px;

    color: #3B3B3B;

    position: relative;
    bottom: -80px;
    left: 20px;
    z-index: 20;
    text-indent: initial;
}

#carouselExampleIndicators__photo1,
#carouselExampleIndicators__photo2,
#carouselExampleIndicators__photo3 {
    width: 73px;
    height: 73px;
    border-radius: 50%;

    position: relative;
    bottom: 250px;
    opacity: 1;
}


#carouselExampleIndicators__photo1 {
    background-image: url("https://thumb.tildacdn.com/tild6465-3966-4035-b330-306666393362/-/cover/100x100/center/center/-/format/webp/81915804_25694418867.jpg");
    background-size: cover;
}

#carouselExampleIndicators__photo2 {
    background-image: url("https://thumb.tildacdn.com/tild6333-3032-4461-b731-633765353663/-/cover/100x100/center/center/-/format/webp/125524513_3935254784.jpg");
    background-size: cover;
}

#carouselExampleIndicators__photo3 {
    background-image: url("https://thumb.tildacdn.com/tild3034-3132-4430-a165-646432643262/-/cover/100x100/center/center/-/format/webp/2020-12-03_22-19-14.png");
    background-size: cover;
}

.carousel-item__first,
.carousel-item__second,
.carousel-item__third {
    max-width: 70%;
    min-height: 400px;
    border-radius: 25px;
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12%;

    box-shadow: 0 0 20px rgba(59, 59, 59, 0.3);
}

#carouselExampleIndicators3 .carousel-inner {
    max-width: 100%;
    padding-right: 20px;
    left: 50px;
}

.carousel-item__background-image1 {
    float: left;
    margin-right: 5%;

    width: 173px;
    height: 173px;
    border-radius: 50%;
    margin-top: 40px;

    background-image: url("https://thumb.tildacdn.com/tild6465-3966-4035-b330-306666393362/-/cover/100x100/center/center/-/format/webp/81915804_25694418867.jpg");
    background-size: cover;
}

.carousel-item__background-image2 {
    float: left;
    margin-right: 5%;

    width: 173px;
    height: 173px;
    border-radius: 50%;
    margin-top: 40px;

    background-image: url("https://thumb.tildacdn.com/tild6333-3032-4461-b731-633765353663/-/cover/100x100/center/center/-/format/webp/125524513_3935254784.jpg");
    background-size: cover;
}

.carousel-item__background-image3 {
    float: left;
    margin-right: 5%;

    width: 173px;
    height: 173px;
    border-radius: 50%;
    margin-top: 40px;

    background-image: url("https://thumb.tildacdn.com/tild3034-3132-4430-a165-646432643262/-/cover/100x100/center/center/-/format/webp/2020-12-03_22-19-14.png");
    background-size: cover;
}

.carousel-item__content {
    display: flex;
    flex-direction: column;
}

.carousel-item__name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;

    color: #3B3B3B;
}

.carousel-item__profession {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;

    color: #FF92BF;

    margin-bottom: 20px;
}

.carousel-item__feedback {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #3B3B3B;
}

.carousel-item__link {
    display: none;
}

.carousel-indicators__near-walls .active {
    display: none;
}

@media screen and (max-width: 960px) {

    .carousel-item__background-image1,
    .carousel-item__background-image2,
    .carousel-item__background-image3 {
        float: none;
        max-height: 173px;
        max-width: 100%;
    }

    .carousel-item__content {
        height: 400px;

    }

    .carousel-item__link {
        display: inline-block;
        text-decoration: underline;

        font-family: 'Jost', sans-serif;
        font-weight: 600;
        font-size: 18px;

        color: #FF92BF;
    }

    .carousel-item__feedback {
        height: 250px;
        overflow: hidden;
        position: relative;
    }

    .carousel-item__feedback::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 60px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
        pointer-events: none;
        z-index: 1;
    }

    .carousel-item__first,
    .carousel-item__second,
    .carousel-item__third {
        width: 70%;
        min-height: 400px;
        border-radius: 15px;
        padding: 10px 25px;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;

        box-shadow: 0 0 20px rgba(59, 59, 59, 0.3);
    }

    .tenth-section__title {
        margin-bottom: 10px;
    }

    .carousel-item__profession {
        min-height: 48px;
    }

    #carouselExampleIndicators__photo1,
    #carouselExampleIndicators__photo2,
    #carouselExampleIndicators__photo3 {
        width: 15vw;
        height: 15vw;
        left: -10px;
        max-width: 73px;
        max-height: 73px;
    }

    #carouselExampleIndicators3 .carousel-inner {
        left: 10%;
    }
}