@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(../fonts/Jost/Jost-VariableFont_wght.ttf);
}