body {
    max-width: 100%;

}




h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #3B3B3B;
}

.text_color {
    color: #EA5D80;
}

.text {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #3B3B3B;
}

.text_2 {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18, 66px;
    letter-spacing: 0px;
    text-align: left;

}

/*Кнопка*/
.button {
    width: 170px;
    height: 40px;
    background-color: #EA5D80;
    color: #FFF;
    border-radius: 25px;
    padding: 7px 35px;
    box-sizing: border-box;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17.99px;
    line-height: 26px;

    text-decoration: none;
    text-align: center;
    margin-bottom: 18px;

}

.first-section__background-pink {
    background-image: url(../images/home_page_background.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: top;
    background-size: 130%;



}

/*Позиционирование первая секция*/

.first-section {
    display: grid;
    grid-template-columns: 39% 59%;

    max-width: 1400px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.first-section__col1 {
    display: grid;
    align-content: start;
    margin-top: 110px;

}

.first-section__col2 {
    height: 567px;
    width: 846px;

}

.first-section__img1 {
    max-width: 80%;
    margin-top: 71px;
}

/*Вторая секция*/
.second-section {
    height: 678px;
    margin-top: 150px;


}

.second-section__col1 {
    display: grid;
    justify-items: center;
    margin-top: 110px;
    height: 78px;

}

.second_section__img {
    display: grid;
    grid-template-columns: 332px 332px;
    grid-template-rows: 431px 431px;
    gap: 29.5px;
}

/*Третья секция*/
.third-section {
    height: 419px;
    background-color: #F4F4F4;
}

.third-section__col1 {
    display: grid;
    justify-content: center;
}

.third-section__carousel {
    max-width: 1400px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

/*Карусель*/
.img-fluid {
    height: 214px;
    width: 214px;
    margin-right: 15px;
    margin-top: 10px;

}

.carousel-indicators li {

    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #749CCF;
    margin-right: 16px;

}

.carousel-indicators .active {
    background-color: #F39D90;

}

.carousel-item {
    right: 50%;
    left: 10%;
}

.carousel-indicators {
    left: 4%;
    bottom: -80px;
}

.carousel-control-prev-icon {

    background-image: url("/assets/images/стрелка_влево_карусель.png");
    background-size: 55px;
    height: 55px;
    width: 55px;
    border-radius: 0px;
    margin-right: 15px;

}

.carousel-control-next-icon {
    background-image: url("/assets/images/стрелка_вправо_карусель.png");
    background-size: 55px;
    height: 55px;
    width: 55px;
    border-radius: 0px;
    margin-left: 80px;
}

/*Четвертая секция*/
.four-section__carousel {
    max-width: 1400px;
    height: 752px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.four-section__col1 {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 18px;
}


/*карусель*/



#carouselExampleIndicators__photo1,
#carouselExampleIndicators__photo2,
#carouselExampleIndicators__photo3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    bottom: -40px;
}

#carouselExampleIndicators__photo1 {
    background-image: url("/assets/images/круг.png");
    background-size: cover;
}
#carouselExampleIndicators__photo2 {
    background-image: url("/assets/images/круг.png");
    background-size: cover;
}
#carouselExampleIndicators__photo3 {
    background-image: url("/assets/images/круг.png");
    background-size: cover;
}
.carousel-item__first,
.carousel-item__second,
.carousel-item__third {

    width: 620px;
    height: 431.84px;
    border-radius: 20px;
    padding: 38px 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    background-color: #FFFFFF;

    box-shadow: 0px 0px 20px 0px #3B3B3B4D;

}

.carousel-item__background-image1,
.carousel-item__background-image2,
.carousel-item__background-image3, {
    float: left;
    margin-right: 25px;

    width: 173px;
    height: 173px;
    border-radius: 50%;
    padding: 28px 55px;

    background-image: url("/assets/images/круг.png");
    background-size: cover;
}

.carousel-item__name {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;

    text-align: left;
    color: #3B3B3B;

}

.carousel-item__adress {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 10px;
}

.carousel-item__feedback {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 100px;
    padding-top: 20px;
}

.carousel-item__link {

    color: #EA5D80;
}

.carousel-control-prev-icon2 {

    background-image: url("/assets/images/стрелка_влево_карусель.png");
    background-size: 55px;
    height: 55px;
    width: 55px;
    border-radius: 0px;
    margin-right: 15px;

}

.carousel-control-next-icon2 {
    background-image: url("/assets/images/стрелка_вправо_карусель.png");
    background-size: 55px;
    height: 55px;
    width: 55px;
    border-radius: 0px;
    margin-left: 80px;
}


/*Пятая секция*/
.five-section {
    display: grid;
    grid-template-columns: 49% 49%;


    max-width: 1400px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}

.five-section__col1 {
    margin-top: 70px;

}

video {
    height: 353px;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 70px;
    margin-left: -25px;
}

/*шестая секция*/
h4 {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #3B3B3B;
    margin-top: 23px;

}

.card__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.six-section {
    max-width: 1400px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;

}

.cards {
    margin-top: 141px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
    text-align: center;
}


.card-section {
    display: grid;
    justify-items: center;
    width: 262px;
}

.card__img {
    max-width: 100%;
}