@charset "UTF-8";
body {
  max-width: 100%;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #3B3B3B;
}

.text_color {
  color: #EA5D80;
}

.text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #3B3B3B;
}

.text_2 {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18, 66px;
  letter-spacing: 0px;
  text-align: left;
}

/*Кнопка*/
.button {
  width: 170px;
  height: 40px;
  background-color: #EA5D80;
  color: #FFF;
  border-radius: 25px;
  padding: 7px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17.99px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 18px;
}

.first-section__background-pink {
  background-image: url(../images/home_page_background.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: top;
  background-size: 130%;
}

/*Позиционирование первая секция*/
.first-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 59%;
      grid-template-columns: 39% 59%;
  max-width: 1400px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.first-section__col1 {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  margin-top: 110px;
}

.first-section__col2 {
  height: 567px;
  width: 846px;
}

.first-section__img1 {
  max-width: 80%;
  margin-top: 71px;
}

/*Вторая секция*/
.second-section {
  height: 678px;
  margin-top: 150px;
}

.second-section__col1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 110px;
  height: 78px;
}

.second_section__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 332px 332px;
      grid-template-columns: 332px 332px;
  -ms-grid-rows: 431px 431px;
      grid-template-rows: 431px 431px;
  gap: 29.5px;
}

/*Третья секция*/
.third-section {
  height: 419px;
  background-color: #F4F4F4;
}

.third-section__col1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section__carousel {
  max-width: 1400px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

/*Карусель*/
.img-fluid {
  height: 214px;
  width: 214px;
  margin-right: 15px;
  margin-top: 10px;
}

.carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #749CCF;
  margin-right: 16px;
}

.carousel-indicators .active {
  background-color: #F39D90;
}

.carousel-item {
  right: 50%;
  left: 10%;
}

.carousel-indicators {
  left: 4%;
  bottom: -80px;
}

.carousel-control-prev-icon {
  background-image: url("/assets/images/стрелка_влево_карусель.png");
  background-size: 55px;
  height: 55px;
  width: 55px;
  border-radius: 0px;
  margin-right: 15px;
}

.carousel-control-next-icon {
  background-image: url("/assets/images/стрелка_вправо_карусель.png");
  background-size: 55px;
  height: 55px;
  width: 55px;
  border-radius: 0px;
  margin-left: 80px;
}

/*Четвертая секция*/
.four-section__col1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 18px;
}

/*Пятая секция*/
.five-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  max-width: 1400px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}

.five-section__col1 {
  margin-top: 100px;
  gap: 93px;
}

video {
  height: 353px;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 70px;
}
/*# sourceMappingURL=home_page.css.map */