.header__shadow {
    height: 10px;
    background-image: linear-gradient(to bottom, grey, #F2F2F2);
    opacity: 0.1;

    position: relative;
    bottom: -10px;
}

.header-container,
header,
nav {
    display: grid;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #3B3B3B;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

header {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #3B3B3B;
}

a:hover {
    text-decoration: underline;
    color: #F39D90;
}

nav {
    grid-template-columns: 1fr 3fr;
    padding: 0.8% 8% 0.7% 5%;

}

.header__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-column: 2/3;
    width: 60%;
    margin-left: 25%;

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #3B3B3B;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

li {
    list-style: none;

    margin-right: 2vw;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.logo-alternative {
    display: none;
}

.header__nav-alternative {
    display: none;
}

@media screen and (min-width: 961px) {
    .header {
        display: grid;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        color: #3B3B3B;
        font-size: 1rem;
        letter-spacing: 0.8px;
    }
}

@media screen and (max-width: 960px) {
    .header__nav-main {
        display: none;
    }


    #alternative-nav {
        display: initial;
        margin: 0;
        padding: 0;

        padding-bottom: 10px;
        position: absolute;

        z-index: 2;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left: 75vw;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        transition: color 0.3s ease;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;

        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #333333;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        display: flex;
        flex-direction: column;

        position: absolute;
        width: 300px;
        margin: -100px 0 0 -200px;
        padding: 40px;
        padding-top: 105px;


        background: #ffdce3;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-300%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    .logo-alternative {
        display: initial;
        max-width: 40vw;
        padding-top: 10px;
        padding-left: 5vw;
        padding-bottom: 10px;
    }

    .img_header {
        max-width: 100%;
        min-width: 130px;
    }

}