.footer-container {
    overflow: hidden;
}

footer,
.footer-copyright,
.footer-contacts,
.footer-mailer,
.footer-useful,
.info-footer {
    display: grid;
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 24px;
}

.footer-img {
    margin-left: 11%;
    grid-row: 3/4;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
}

.footer_menu,
.e-mail {
    text-decoration: none;
    color: white;
}

.footer_menu:hover,
.e-mail:hover {
    text-decoration: underline;
    color: #F39D90;
}

.footer-title {
    font-weight: 700;
}

.footer-copyright {
    grid-column: 1/2;
}

.footer-copyright-text {
    grid-row: 1/2;
}

.footer-contacts {
    grid-row: 2/3;
}

.footer-mailer {
    grid-column: 3/4;
    background-color: rgba(80, 80, 80, 1);
    border-radius: 10%;
    padding: 8%;
    padding-bottom: 8%;
}

.footer-useful {
    grid-column: 4/5;
}

.mailer-text {
    color: white;
}

.mailer-line {
    padding-bottom: 4px;
    color: white;
}

input {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #F39D90;
    width: 90%;
    height: 104%;
    margin-bottom: 10px;
    padding-left: 23px;
}

.mailer-button {
    margin-top: 5px;
    background-color: #F39D90;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 70%;
    height: 38px;
    border: none;
}

.footer__text {
    margin-bottom: 10%;
}

li {
    list-style: none;
    margin: 0;
}

ul {
    margin: 0;
}

.map,
.info {
    padding-bottom: 20px;
}

.years {
    font-weight: 700;
}

#input {
    padding-left: 10%;
    color: #F39D90;
    padding: 8px;
}

footer {
    display: grid;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(59, 59, 59, 1);
    color: white;
    padding-left: 11%;
    padding-right: 5%;
}

.info-footer {
    grid-column: 5/6;
    padding-bottom: 40%;
}


@media screen and (max-width: 1099px) {
    .footer {
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.8fr;
        grid-template-rows: 35% 55%;

        padding-left: 5%;
        padding-top: 3%;
        padding-right: 5%;
        padding-bottom: 0%;
    }

    .footer-copyright {
        grid-area: 2/3/3/4;
    }

    .footer-mailer {
        grid-area: 1/2/3/3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-useful {
        grid-area: 1/1/3/2;
    }

    .info-footer {
        grid-area: 1/3/2/4;

        padding-bottom: 10%;
    }

    .footer__text {
        margin-bottom: 0%;
    }

    #input {
        margin-top: -10px;
    }


}

@media screen and (max-width: 767px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr 0.2fr 0.7fr;
    }

    .footer-copyright {
        grid-area: 4/1/5/2;

    }

    .footer-useful {
        grid-area: 1/1/2/2;
    }

    .info-footer {
        grid-area: 3/1/4/2;

    }

    .footer-mailer {
        grid-area: 2/1/3/2;

        max-width: 250px;
        padding: 3% 5%;
        margin-bottom: 10px;

    }

    .footer-title {
        margin: 0px;
    }

    .footer__list {
        padding: 0px;
    }

    .footer-img {
        margin-left: 0%;

        width: 80%;
        margin-bottom: 25px;
    }
}